.bottem {

    background-image: url("./assets/large-corkBoard.jpeg");
   background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    

    width:100%;
    height:auto;
    padding:1%;
    border-top:1px solid aliceblue;
    position: relative;
    bottom: 0;
  }