.background {

    background-image: url("./assets/large-corkBoard.jpeg");
   background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    /* background-color: burlywood; */
  }