
.background {

  background-image: url("./assets/large-corkBoard.jpeg");
 /* background-repeat: no-repeat; */
  background-size: cover;
  color: aliceblue;
  /* background-color: burlywood; */
  border-bottom: 7px solid burlywood;
}
.contain{
    display: flex;
}
.position{
    
    display: flex;
}
.navigate{
    display: flex;
}
.box{
   display: flex;
}
.logout{
    
    display: flex;
}
.spacing{
    padding: 0px 30px;
}
.buttons{
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-direction: row;
}