
.background {

  background-image: url("./assets/large-corkBoard.jpeg");
 /* background-repeat: no-repeat; */
  background-size: cover;
  color: aliceblue;
  /* background-color: burlywood; */
}
.contain{
    display: flex;
}
.position{
    display: flex;
}
.navigate{
    display: flex;
}
.box{
   display: flex;
}

.buttons{
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-direction: row;
}