/* .HomepageBackground{
background-image: url("./assets/front\ page\ image.jpeg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin-left: 40px;
margin-right: 40px;
height: 700px;

} */
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.down{
    display: flex;
    flex-direction: column;
}
.title{
    padding-bottom: 60px;
}
.center{
 padding: 130px;
}
.Welkome{
    border: solid 1px rgb(224, 172, 2);
    border-radius: 10%;
    
}
.text{
    display: flex;
}
.borders{
    border-radius: 50% !important;
}
.colum{
    margin: 30px 140px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
}
.opacityBox{
    margin-top: 50px;
    background-color: rgb(241, 180, 26);
    padding: 40px;
    opacity: 0.8;
    border-radius:80px ;
    color: rgb(39, 37, 37);
  }
  .space{
      padding: 25px 0px !important;
  }
  .radius{
      border-radius: 10%;
  }