.InProgress{
    background-color: #ffc107;
    position:relative;
}

.Done{
    background-color: #198754;
    position: relative;
}

.Size{
    height: 0rem;
    width: 50rem;
}

.border{
    border-radius: 10%;
}

